{# {% extends 'base.html.twig' %} #}

{% block body %}
<title>{% block title %}Page d'accueil{% endblock %}</title>
{{include("./header.html.twig")}}

<p>content</p>

{{include("./footer.html.twig")}}
{% endblock %}
