{% block body %}

   <link rel="stylesheet" href="{{ asset('../assets/css/rubrique.css') }}" />
    <div class="pagehead">
      <h1 id="title">{{title}}</h1>
      <img src="{{ asset('../assets/image/rubriques/' ~ image ~ '.jpg')}}" />
    </div>
    <div class="container">
      <div class="rubrique">
      {% for puce in data %}
        <h4>{{puce}}</h4>
      {% endfor %}
        
      </div>
    </div>

{% endblock %}